<div class="footer-wrap">
	<footer class="container template-footer">
		<div class="row footer-content">
			<div class="span-6">
				{{widget('profile', 'footerprofilecopyright', { 'profileType':'copyright', 'copyright':'profile'})|raw}}
			</div>
			<div class="span-6">
				{{widget('profile', 'footerprofilesocialicons', { 'profileType' : 'socialicons' })|raw}}
			</div>
		</div>
	</footer>
</div>