<div class="header-wrap">
	<header class="template-header container">
		<div class="row">
			<div class="header-title span-6">
				{{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
				{{widget('companyname', 'companyname', {"business": "FAABER"})|raw}}
			</div>
			<nav class="template-nav span-5">
				{{widget('extendednavigation', 'navigationheader', {"align":"left"})|raw}}
			</nav>
			<aside class="template-social span-1">
				{{widget('profile', 'headerprofilesocialicons', { 'profileType' : 'socialicons' })|raw}}
			</aside>
		</div>
	</header>
</div>