{% extends "layout.twig" %}
{% block content %}

<main class="main home-page">

	<section class="container">
		<div class="row">
			<aside class="infocontent span-6">
			</aside>
			<aside class="infocontent span-6">
				{{widget('content', 'tophomecontent', {content: '<h1>Lorem Ipsum Dolor Sit Amet</h1><p>In eget mi facilisis venenatis nulla ut, volutpat eros. Sed iaculis suscipit consectetur. Nam ac nibh enim. Integer varius nisl ut semper</p>', lines: 'all'})|raw}}
			</aside>
		</div>
		
		{{widget('gallery', 'gallery1', {'albumRef':0, 'showDescription': true, 'showTitle': true, 'images':[{'imageHeight':'261', 'imageWidth':'411', 'url':asset('images/image-1.jpg'), 'title':'Lorem', 'description': 'Lorem ipsum dolor'},{'imageHeight':'481', 'imageWidth':'436', 'url':asset('images/image-2.jpg'), 'title':'Lorem', 'description': 'Lorem ipsum dolor'},{'imageHeight':'330', 'imageWidth':'411', 'url':asset('images/image-3.jpg'), 'title':'Lorem', 'description': 'Lorem ipsum dolor'},{'imageHeight':'247', 'imageWidth':'412', 'url':asset('images/image-4.jpg'), 'title':'Lorem', 'description': 'Lorem ipsum dolor'},{'imageHeight':'398', 'imageWidth':'435', 'url':asset('images/image-5.jpg'), 'title':'Lorem', 'description': 'Lorem ipsum dolor'},{'imageHeight':'352', 'imageWidth':'411', 'url':asset('images/image-6.jpg'), 'title':'Lorem', 'description': 'Lorem ipsum dolor'}]})|raw}}
	</section>
	
	<section class="main-wrap">
		<div class="container">
			{{zone('main')|raw}}
		</div>
	</section>
	
</main>

{% endblock %}