$color-swatch1                       : #ffffff;
$color-swatch2                       : #002b4f;
$color-swatch3                       : #ffffff;
$color-swatch4                       : #002b4f;
$color-swatch5                       : #6f6f6f;
$color-swatch6                       : #6f6f6f;
$font-swatch1-font-family            : "Lato", Geneva, Tahoma, sans-serif;
$font-swatch1-font-size              : 42px;
$font-swatch1-font-weight            : 400;
$font-swatch1-line-height            : 52px;
$font-swatch1-color                  : $color-swatch4;
$font-swatch2-font-family            : "Lato", Geneva, Tahoma, sans-serif;
$font-swatch2-font-size              : 24px;
$font-swatch2-font-weight            : 300;
$font-swatch2-line-height            : 34px;
$font-swatch2-color                  : $color-swatch4;
$font-swatch3-font-family            : "Lato", Geneva, Tahoma, sans-serif;
$font-swatch3-font-size              : 24px;
$font-swatch3-font-weight            : 400;
$font-swatch3-line-height            : 34px;
$font-swatch3-color                  : $color-swatch2;
$font-swatch4-font-family            : "Lato", Geneva, Tahoma, sans-serif;
$font-swatch4-font-size              : 15px;
$font-swatch4-font-weight            : 600;
$font-swatch4-line-height            : 25px;
$font-swatch4-color                  : $color-swatch4;
$font-swatch5-font-family            : "Lato", Geneva, Tahoma, sans-serif;
$font-swatch5-font-size              : 14px;
$font-swatch5-font-weight            : 400;
$font-swatch5-line-height            : 25px;
$font-swatch5-color                  : $color-swatch5;
$siteBackgroundColor                 : transparent;
$siteBackgroundGradientType          : vertical;
$siteBackgroundGradientFrom          : transparent;
$siteBackgroundGradientTo            : transparent;
$siteBackgroundImageScale            : original;
$siteBackgroundImage                 : none;
$siteBackgroundPositionX             : center;
$siteBackgroundPositionY             : top;
$siteBackgroundRepeat                : no-repeat;
$font-swatch1-letter-spacing         : inherit;
$font-swatch2-letter-spacing         : inherit;
$font-swatch3-letter-spacing         : inherit;
$font-swatch4-letter-spacing         : inherit;
$font-swatch5-letter-spacing         : inherit;
$font-swatch6-font-family            : "Lato", Geneva, Tahoma, sans-serif;
$font-swatch6-font-size              : 14px;
$font-swatch6-font-weight            : 400;
$font-swatch6-line-height            : 25px;
$font-swatch6-letter-spacing         : inherit;
$font-swatch6-color                  : $color-swatch6;
$font-swatch6-color-hover            : lighten($color-swatch6, 40%);
$font-swatch6-background-color       : $color-swatch2;
$font-swatch6-background-color-hover : $color-swatch2;
$font-swatch7-font-family            : "Lato", Geneva, Tahoma, sans-serif;
$font-swatch7-font-size              : 14px;
$font-swatch7-font-weight            : 400;
$font-swatch7-line-height            : 25px;
$font-swatch7-letter-spacing         : inherit;
$font-swatch7-color                  : $color-swatch6;
$font-swatch7-background-color       : $color-swatch3;
$font-swatch7-background-color-hover : $color-swatch3;
$color-swatch6                       : #191919;
$color-swatch7                       : #ffffff;
$font-swatch8-font-family            : "Lato", Geneva, Tahoma, sans-serif;
$font-swatch8-font-size              : 32px;
$font-swatch8-font-weight            : 700;
$font-swatch8-line-height            : 42px;
$font-swatch8-letter-spacing         : inherit;
$font-swatch8-color                  : $color-swatch1;
$font-swatch9-font-family            : "Lato", Geneva, Tahoma, sans-serif;
$font-swatch9-font-size              : 24px;
$font-swatch9-font-weight            : 400;
$font-swatch9-line-height            : 34px;
$font-swatch9-letter-spacing         : inherit;
$font-swatch9-color                  : $color-swatch1;
$font-swatch10-font-family           : "Lato", Geneva, Tahoma, sans-serif;
$font-swatch10-font-size             : 20px;
$font-swatch10-font-weight           : 700;
$font-swatch10-line-height           : 30px;
$font-swatch10-letter-spacing        : inherit;
$font-swatch10-color                 : $color-swatch2;
$button-background: $font-swatch7-background-color;
$button-text: $font-swatch7-color;
